.multiUser_UserDock {
    position: absolute;
    display: none;
    top: 16px;
    left: 288px;
}

.multiUser_UserDockAvatar {
    border: 2px solid white;
    border-radius: 32px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    margin-right: 8px;
    min-width: 24px;
}

.multiUser_boardOverlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.multiUser_requestCreds {
    background: #fff;
    height : 320px;
    width: 320px;
}

.multiUser_boardErrorText {
    color : #fff;
    font-weight: bold;
    margin: 8px;
    user-select: none;
}

.multiUser_boardErrorReturn {
    color : blue;
    cursor : pointer;
}

.multiUser_boardErrorReturn:hover {
    text-decoration: underline;
}

.multiUser_UserCursorWrapper {
    position: absolute;
    padding: 4px 0 0 8px;
    left: 0;
    top : 0;
}

.multiUser_UserCursor {
    position: absolute;
    left: 0;
    top : 0;
}

@media screen and (min-width: 768px) {

    .multiUser_UserDock {
        display: flex;
    }

}