.multiUser_UserDock {
    bottom : 16px;
    display: flex;
    flex-direction: row;
    left: 16px;
    position: absolute;
}

.multiUser_UserDockAvatar {
    border-radius: 32px;
    color: white;
    font-size: 12px;
    padding: 4px;
    margin-right: 8px;
}

.multiUser_boardError {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100vw;
}

.multiUser_boardErrorText {
    color : #fff;
    font-weight: bold;
}

.multiUser_UserCursorWrapper {
    position: absolute;
    padding: 4px 0 0 8px;
    left: 0;
    top : 0;
}

.multiUser_UserCursor {
    position: absolute;
    left: 0;
    top : 0;
}