.navBar {
    align-items : center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius : 2px;
    box-shadow: 1px 1px 10px #eee;
    display: flex;
    padding: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.companyName {
    font-weight: bold;
    border-right: 1px solid #ccc;
    padding-right: 8px;
}

.burgerMenu {
    background-image: url("/icons/menu-24px.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-left: 8px;
    width: 24px
}

.burgerMenu:hover {
    background-color: #ccc;
}