.navBar {
    align-items : center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius : 2px;
    box-shadow: 1px 1px 10px #eee;
    display: flex;
    padding: 8px;
    position: absolute;
    right: 16px;
    top: 16px;
    user-select: none;
}

.companyName {
    font-weight: bold;
    border-right: 1px solid #ccc;
    padding-right: 8px;
}

.burgerMenu {
    background-image: url("/miral/icons/menu-24px.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-left: 8px;
    width: 24px
}

.burgerMenu:hover {
    background-color: #ccc;
}

.navBar_menu {
    left: 0;
    opacity: 0;
    pointer-events : none;
    position: absolute;
    top: 48px;
    width: 100%;
}

.navBar_menu_open {
    opacity : 1;
    pointer-events: auto;
}

.navBar_menu_arrow {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 1px;
    right: 8px;
    position: absolute;
    top: -9px;
    width : 1px;
}
.navBar_menu_sliderWrapper {
    overflow: hidden;
    width: 100%;
}


.navBar_menu_slider {
    display: flex;
    transition : transform .3s, opacity .3s;
    transform : translate3d(0, 0, 0);
    width: 200%;
}

.navBar_menu_slider.slideLeft {
    transform : translate3d(-50%, 0, 0);
}

.navBar_menu_items {
    background-color: #fff;
    width: 100%;
    
}

.navBar_menu_item {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.navBar_menu_item svg {
    padding: 0 8px 0 0;
}

.navBar_menu_item:hover {
    background-color: #ccc;
    color: #fff;
}

.navMenu_error {
    padding: 8px;
}