.hub {
    justify-content: center;
    display: flex;
    height : 100vh;
    position: fixed;
    width : 100vw;
    visibility: hidden;
    pointer-events: initial;
}

.hubBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height : 100vh;
    width : 100vw;
}

.hub.hubVisible {
    visibility: visible;
    pointer-events: initial;
}

.hubContents {
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    height: 80vh;
    margin: 10vh 80px;
    max-width : 1024px;
    overflow: hidden;
    z-index: 99;
}

.hubTabs {
    display : flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
}

.hubTabLogo {
    background-color: #fff;
    background-image : url("/workshopprIcon.svg");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    box-sizing: border-box;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0px 16px 56px;
    text-align: left;
    width: 224px;
}

.hubTab {
    background-color:rgba(255, 255, 255, 1);
    cursor : pointer;
    flex: 1;
    padding: 16px;
    user-select: none;
}

.hubTab.selected {
    text-decoration: underline;
    font-weight: bold;
}

.hubSections {
    display : flex;
    flex-direction: row;
    height: 100%;
    overflow-y: visible;
    transform: translateX(0);
    transition: all .3s;

}

.hub_section {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    padding: 16px;
    width: 100%;
}

.hub_subMenu {
    min-width: 200px;
}

.hub_subMenu_item {
    text-align: left;
    margin: 16px 0;
}

.hub_scrollWrapper {
    overflow-y: scroll;
}

.hub_title {
    text-align: left;
}

.hub_boards {
    display : flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 16px 0;
    width: 100%;
}

.hub_item {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    
    border-radius: 5px;
    box-shadow: 2px 2px 0px #666;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-right: 16px;
    min-width : 160px;
    max-width : 160px;
    cursor: pointer;
    overflow: hidden;
}

.hub_item:hover {
    box-shadow: 1px 1px 0px #666;
    transform: translate(1px, 1px);
}


.tutorialTrigger {
    box-sizing: border-box;
    display : flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 16px 16px 0;
    width : 100%;
}

.tutorialTriggerContent {
    align-items: flex-start;
    background-color: #F28D95;
    background-image : url("/images/firstUse.svg");
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 25px;
    box-shadow: 4px 4px 0px #666;
    display: flex;
    flex-direction: column;
    height: 246px;
    justify-content: flex-start;
    width: 640px;
    opacity: 0.7;
    overflow : hidden;
    cursor: pointer;
}

.tutorialTriggerHeading {
    color: #fff;
    margin: 16px;
}

.tutorialTriggerHeading_main {
    font-size : 32px;
    margin-bottom: 8px;
}

.tutorialTriggerHeading_subLine {
    font-size : 24px;
    margin-top: 8px;
}

.tutorialTriggerCta {
    border-radius: 300px;
    border: 5px solid white;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size : 56px;
    line-height: 80px;
    margin: 16px 16px 16px 104px;
    height: 80px;
    width: 80px;
}

.tutorialTriggerContent:hover {    
    box-shadow: 2px 2px 0px #666;
    transform: translate(2px, 2px);
}

.itemCtaLogo {
    border-radius: 300px;
    border: 5px solid #ccc;
    color: #ccc;
    
    font-family: 'Montserrat', sans-serif;
    font-size : 40px;
    line-height: 40px;
    min-height: 40px;
    min-width: 40px;
}

.itemCtaImage {
    align-items: center;
    color: #ccc;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex: 2 1 auto;
    font-size : 40px;
    line-height: 40px;
    min-height: 40px;
    min-width: 40px;
}

.itemCtaImage img {
    width: 100%;
}

.itemCtaIconText {
    background-color: #7EBFD9;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size : 20px;
    padding: 8px;
    min-height: 20%;
    min-width: 100%;
}

.itemCtaText {
    color: #ccc;
    font-size : 20px;
    margin: 8px 0;
}



.tutorialTriggerContent img {
    width: 100%;
}