.zoomLevel {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius : 2px;
    box-shadow: 1px 1px 10px #eee;
    padding: 8px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    user-select: none;
}
