.fontStyle {
   padding: 8px;
}

.selected {
    background-color : #c8c8c8;
    border-radius: 2px;
}

.fontFamily {
    padding : 0 0 0 8px;
}

.fontFamily option {
    padding: 4px;
}

.picker {
    display : flex;
}

.picker_label {
    font-size : 8px;
    padding: 0 8px;
}

.picker input {
    width : 56px
}
